/* nav styling starting */
.name{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:  bold;
    font-display: initial;
    font-style: italic;
}
.sp1{
    color: #ffffff;
}
.sp2{
    color: rgb(158, 51, 51);
}
.sp3{
    color:rgb(45, 233, 45);
}
nav{
    position: static;
}
.navbar-brand img {
    height: 100%;
}
nav form#search{
    float: right;
    padding: 0.5em;
}
nav form#search .input-group .form-control{
    border-radius: 0.25em;
}
nav form#search .glyphicon-search{
    z-index: 99;;
    position: absolute;
    right: 0.7em;
    top: 50%;
    margin-top: -0.44em;
}
#nav-options{
    margin: 0.5em;
}
#nav-options button.thumbnail{
    margin: 0;
    padding: 0;
}
#nav-options img{
    max-height: 2.3em;
    border-radius: 0.3em;
}
#tweet{
    margin: 0.5em;
}
.navbar-default{
    background-color: #2f92ca;
}
.navbar-default .navbar-nav > li > a{
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a{
   background: transparent !important;
   color: #ffffff;
   border-bottom: 5px solid #ffffff;

}
.navbar-default .navbar-nav > .active > a{
    padding:bottom 10px;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover{
    color:#ffffff;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.navbar-default .navbar-nav > .active >a {
    background-color: transparent !important;
    color: #ffffff;
    padding-bottom: 0.62em;
    border-bottom: 0.45em solid #fff;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover{
    background-color: transparent !important;
    color: #f3f3f3;
    padding-bottom: 0.62em;
    border-bottom: 0.45em solid #f3f3f3;
}
.navbar-nav .badge {
   z-index: 99;
   color: #2f92ca;
   background-color: #fff;
   font-size: 0.7em;
   padding:0.27rem 0.55rem 0.2rem 0.4rem;
   position: absolute;
   left:0.37rem;
   top: 0.7rem;
   border: 0.2rem solid #2f92ca;
}
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus{
    background-color: #57a5d2;
}
.navbar-default .navbar-toggle:hover{
    background: #3986b3;
}
.navbar-default .icon-bar{
    background: #fff;
}
/* nav styling ending */
/*body styling starting*/
body{
    background: #f5f8fa;
}
/*body styling ending */
/*card styling */
#card{
    max-height: 50px;

}  
#mainImg{
     height: 500px; 
} 
.card {
    padding-left: 13rem;
    margin-left: 12rem;
    width: 70%;
    position: relative;
    border: 0.1rem solid #e5e5e5;
    border-radius: 0.4rem;
    background-color: #FFF;
}
.card-img-top {
    border-radius: 0.4rem 0.4rem 0 0;
}
.card-block {
    padding: 1.25rem;
}
.card-block img.card-img {
    top: 50%;
    margin-top: -36px;
    width: 72px;
    border: 3px solid #FFF;
    border-radius: 0.4rem;
    float: left;
    position: relative;
    z-index: 99;
}
.card-block .card-title {
    float: left;
    margin: 0; 
    margin-left: 0.5em;
}
.card-block .card-title small {
    display: block;
}
.card-block .card-text {
    clear: both;
    padding-top: 0.25em;
    margin-bottom: 1.5em;
}
.card-block ul a:hover {
    text-decoration: none;
}
.card-block ul .profile-stats {
    color: #777;
    display: block;
    text-transform: uppercase;
    font-size: 0.63em;
}
.card-block ul .profile-value {
    
    font-size: 1.2em;
    font-weight: bold;
    color: #2F92CA;
}
.card .card-header {
    border-radius: 0.4rem 0.4rem 0 0;
    padding: .75rem 1.25rem;
    background-color: #f5f5f5;
    border-bottom: 0.1em solid #e5e5e5;
    color: #4e5665;
    font-weight: bold;
}
#profile-photo {
    margin-top: 2rem;
    margin-bottom: 3rem;
}
#profile-photo ul {
    margin:0px solid #2F92CA;
    padding: 0;
}
 #profile-photo li {
     width: 48%;
     padding: 0;
}   
                                                                            
#main{
    float:right; 
}
#btn{
    margin: 0;
    padding: 0;
}
   /* section of id lastest hint */
#lastest{
    top: 3rem;
    background-image: url('/img/VJ2.jpg');
    padding-left: 13rem;
    margin-left: 12rem;
    width: 70%;
    position: relative;
    border: 0.1rem solid #e5e5e5;
    border-radius: 0.4rem;
    background-color: #FFF;
    height: 70rem;
}
#btn-default{
    background: #2F92CA;
}
#Songs-heading{
    font-family: fantasy;
    font-weight: bold;
    font-style: italic;
    background: #2F92CA;
    color: yellow;
    text-align: center;
}
.lastest-green{
    color: green;
}
#lastest-red{
    color: rgba(247, 8, 8, 0.575);
}
#lastest-card{
    margin: 5rem;
    margin-top: 10rem;
    float: right;
    color: #ffffffda;
}
#new{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}
#lastest-listner{
  color:#ffffffda;
  background-color: #2F92CA;
  text-align: center;
  font-size: 12px;
  width: 17rem;
  height:40px;
  border-radius: 5rem;
  font-style:italic;
}
.btn{
    /* background: #2F92CA; */
    font-weight: bold;
    height: 35px;
    background:transparent !important; 
}
#play{
    font-size: 3rem;
}
#BookMark{
    padding: 18rem;
}
/* section 2 is of songs sections  */
#songs-group{
    margin-top: 3rem;
    size: 80%;
    margin-left: 7rem;
 
}
.play-list{
    padding: 8rem;
    border-radius: 1.5rem;
    background-color: #2F92CA;
    width: 10rem;
    background-size: 100%;
    margin: 10px solid #2F92CA;
}
.play-list:hover{
    border:2px solid #2F92CA;
}
#play-header{
    background-color: red;
    margin: 4px solid #2F92CA;
    text-align: center;
}
#list4{
    background: url('/img/Chrysanthemum.jpg');
    background-size: 100%;
}
#list3{
    background: url('/img/movies.jpg');
    background-size: 100%;
}
#list2{
    background:url('/img/cacti-cactus-prickly-1903747.jpg');
    background-size: 100%;
}
#list1{
    background: url('/img/Tulips.jpg');
    background-size: 100%;
}
#list5{
    background: url('/img/Jellyfish.jpg');
    background-size:100% ;
}
#list6{
    background: url('/img/VJ2.jpg');
    background-size: 100%;
}
/* songs section ending */
/* tracks line */
.tracks-line{
   margin-top: 1px;
   margin-bottom: 3rem;
}
.track:hover{
    border: 3px solid #2f92ca !important;
} 
.search-songs{
    margin-left: 3rem;
}
#txtsong{
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    width: 30%;
    height: 3rem;
}
/* footer */
.song-title{
    font-size: 13px;
    color: rgb(202, 47, 189);
}
/* footer ending */
.img-list{
    height: 60px;
    padding: 0;
    margin-left: 1rem;
    size: 20%;
}
.play-tracks{
    width: 70%;
}
#play-img{
    width: 50px;
    height: 50px;
}
/* media jueries */
@media (max-width:34em){
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > li > a:hover {
      border-bottom: none;
      border-left: 0.45em solid #FFF;
      padding-left: 0.5em;
    }
}
@media (max-width:870px){
    #mainImg{
        width: 100%;
    }
    #profile-resume{
        width: 100%;
        margin-left: 0.1px;
    }
    #lastest-card{
     /* display: none; */
     float:left;
     position:static;
     margin-left: 0;
     padding: 0;
    }
}
@media (max-width:900px){
    #lastest-card{
        /* display: none; */
        float:left;
        position:static;
        margin-left: 0;
        padding: 0;
    }  
}
@media (max-width:500px){
    #mainImg{
        width: 100%;
    }
    #profile-resume{
        width: 100%;
        margin-left: 0.1px;
    }
    #lastest{
        top: 3rem;
        background-image: url('/img/VJ2.jpg');
        background-size: 100%;
        padding-left: 13rem;
        margin-left: 12rem;
        width: 70%;
        position: relative;
        border: 0.1rem solid #e5e5e5;
        border-radius: 0.4rem;
        background-color: #FFF;
        max-height: 40rem;
    }
    #lastest-card{
        /* display: none; */
        float:left;
        position:static;
        float: left;
        padding: 0;
        color: red;
    }

}